.select-root {
  @apply flex w-full
    items-center justify-start gap-2
    text-nowrap;
}

.select-selector {
  @apply w-full
    overflow-hidden rounded-lg
    bg-neutral-200
    px-2.5 py-1
    dark:bg-neutral-800;

  cursor: pointer;
  border-right: 0.125rem solid transparent;
}
